@media screen and (max-width:900px) {
    .movie-main {
        background: linear-gradient(90deg, rgb(0, 0, 0) -50%, rgba(0, 0, 0, 0.5) 100%), url('../img/theWitcher.jpg');

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
    }
     
}

@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .buttons .btn {
        margin-top: 1rem;
        width: 25rem;
    }
}

@media screen and (min-width:700px) {
    .movie-main .description {
        width: 60%;
    }
}